spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/courses
    username: postgres
    password: demo

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

camunda:
  bpm:
    database:
      type: postgres
    admin-user:
      id: demo
      password: demo
